<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超市管理系统——添加管理</title>
    <!-- 引入重置样式 -->
    <link rel="stylesheet" href="./css/reset.css">
    <!-- 引入elementUI -->
    <link rel="stylesheet" href="./css/elementUI.css">
    <!-- 引入首页的样式 -->
    <link rel="stylesheet" href="./css/index.css">
    <script src="/users/checkState"></script>
</head>

<body>
    <div id="app">
        <el-main>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>添加管理</span>
                </div>
                <div class="text item">
                    <el-form :label-position="labelPosition" :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2"
                        label-width="100px" class="demo-ruleForm">
                        <el-form-item label="所属分类" prop="c_parentid">
                            <el-select v-model="ruleForm2.c_parentid" placeholder="请选择分类">
                                <el-option label="顶级分类" value="0"></el-option>
                                <el-option v-for="(item, index) in cgdata" :key="index"  :label="item.c_name" :value="item.c_id"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="分类名称" prop="c_name">
                            <el-input v-model="ruleForm2.c_name"></el-input>
                        </el-form-item>
                        <el-form-item label="状态" prop="c_islocked">
                            <el-radio-group v-model="ruleForm2.c_islocked">
                                <el-radio value="1" label="1">启用</el-radio>
                                <el-radio value="0" label="0">禁用</el-radio>

                            </el-radio-group>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm2')">修改</el-button>

                        </el-form-item>
                    </el-form>
                </div>
            </el-card>
        </el-main>
    </div>
    <!-- 引入jquery -->
    <script src="./js/jquery.min.js"></script>
    <!-- 引入vue -->
    <script src="./js/vue.min.js"></script>
    <!-- 引入elementUI -->
    <script src="./js/elementUI.js"></script>
    <script>
        //创建vue实例
        new Vue({
            //挂载视图
            el: "#app",
            data() {

                return {
                    labelPosition: 'left',
                    ruleForm2: {
                        c_parentid:"",
                        c_name:"",
                        c_islocked:'',
                        c_id:''
                    },
                    cgdata:[],
                    rules2: {
                        c_name: [
                            { required: true, message: "分类名称必须填写", trigger: 'blur' },
                            { min: 1, max: 10, message: "分类名称长度必须在1~10位之间", trigger: "blur" }
                        ],
                        c_parentid: [
                            { required: true, message: '请选择分类', trigger: 'change' }
                        ]
                    }
                };
            },
            mounted() {
                $.get("/cg/list",(data)=>{
                    this.cgdata=data.data;
                });
                 //获取URL地址
                 var index = location.href;
                //截取id值
                var id = index.substr(index.indexOf("?") + 1);
                $.get("/cg/editList", { id }, (data) => {
                    //密码赋值，渲染到页面
                    console.log(data);
                    this.ruleForm2.c_parentid = data.data[0].c_parentid;
                    this.ruleForm2.c_name = data.data[0].c_name;
                    this.ruleForm2.c_islocked = data.data[0].c_islocked;
                    this.ruleForm2.c_id = data.data[0].c_id;
                });
            },
            methods: {
                //提交表单
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            $.post("/cg/edit",this.ruleForm2, (data) => {
                                if(data.ok){
                                    alert(data.msg);
                                    location.href="classM.html";
                                }
                            });
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                }
            }
        });
    </script>
</body>

</html>