<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超市管理系统——商品添加管理</title>
    <!-- 引入重置样式 -->
    <link rel="stylesheet" href="./css/reset.css">
    <!-- 引入elementUI -->
    <link rel="stylesheet" href="./css/elementUI.css">
    <!-- 引入首页的样式 -->
    <link rel="stylesheet" href="./css/index.css">
    <script src="/users/checkState"></script>
</head>

<body>
    <div id="app">
        <el-main>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>添加商品</span>
                </div>
                <div class="text item">
                    <el-form :label-position="labelPosition" :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2"
                        label-width="100px" class="demo-ruleForm">
                        <el-form-item label="所属分类" prop="cg_id">
                            <el-select v-model="ruleForm2.cg_id" placeholder="请选择分类">
                                <el-option v-for="(item, index) in cgdata" :key="index" :label="item.c_name" :value="item.c_id"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="商品条形码" prop="barcode">
                            <el-input v-model="ruleForm2.barcode"></el-input>
                            <el-button type="primary" plain @click="tiao()">生成条形码</el-button>
                        </el-form-item>
                        <el-form-item label="商品名称" prop="goodsname">
                            <el-input v-model="ruleForm2.goodsname"></el-input>
                        </el-form-item>
                        <el-form-item label="商品进价" prop="goodsprice">
                            <el-input v-model="ruleForm2.goodsprice" @blur="autoPrince()"></el-input>元
                        </el-form-item>
                        <el-form-item label="商品售价" prop="saleprice">
                            <el-input v-model="ruleForm2.saleprice"></el-input>元
                        </el-form-item>
                        <el-form-item label="市场价" prop="marketprice">
                            <el-input v-model="ruleForm2.marketprice"></el-input>元<br>
                            默认市场价为售价的1.2倍
                        </el-form-item>

                        <el-form-item label="入库数量" prop="stockNum">
                            <el-input v-model="ruleForm2.stockNum" @blur="add()"></el-input><br>

                        </el-form-item>
                        <el-form-item label="商品重量" prop="weigth">
                            <el-input v-model="ruleForm2.weigth"></el-input>
                        </el-form-item>
                        <el-form-item label="商品单位 " prop="unit">
                            <el-input v-model="ruleForm2.unit"></el-input>
                            记重商品单位是千克
                        </el-form-item>
                        <el-form-item label="会员优惠" prop="discount">
                            <el-radio-group v-model="ruleForm2.discount">
                                <el-radio label="1">享受</el-radio>
                                <el-radio label="0">不享受</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="是否促销" prop="promotion">
                            <el-radio-group v-model="ruleForm2.promotion">
                                <el-radio label="1">启用</el-radio>
                                <el-radio label="0">禁用</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="商品简介" prop="goodsDetails">
                            <el-input type="textarea" :rows="4" placeholder="请输入内容" v-model="ruleForm2.goodsDetails">
                            </el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm2')">修改</el-button>

                        </el-form-item>
                    </el-form>
                </div>
            </el-card>
        </el-main>
    </div>
    <!-- 引入jquery -->
    <script src="./js/jquery.min.js"></script>
    <!-- 引入vue -->
    <script src="./js/vue.min.js"></script>
    <!-- 引入elementUI -->
    <script src="./js/elementUI.js"></script>
    <script>
        //创建vue实例
        new Vue({
            //挂载视图
            el: "#app",
            data() {
                return {
                    labelPosition: 'left',
                    ruleForm2: {
                        cg_id: '', //分类
                        barcode: "",//商品条形码
                        goodsname: "",//商品名称
                        saleprice: "",//商品售价
                        marketprice: "",//市场价
                        goodsprice: "",//商品进价
                        stockNum: "",//入库数量
                        weigth: "",//商品重量
                        unit: "",//商品单位
                        discount: "",//会员优惠
                        promotion: "",//是否促销
                        goodsDetails: "",//商品简介
                        total_price: 0,
                        sales_price: 0,
                        good_id:""
                    },
                    cgdata: [],
                    rules2: {
                        barcode: [
                            { required: true, message: "商品条形码必须填写", trigger: 'blur' },
                        ],
                        cg_id: [
                            { required: true, message: '请选择分类', trigger: 'change' }
                        ],
                        goodsname: [
                            { required: true, message: "商品名称必须填写", trigger: 'blur' },
                            { min: 1, max: 10, message: "商品名称长度必须在1~10位之间", trigger: "blur" }
                        ],
                        goodsprice: [
                            { required: true, message: "商品进价必须填写", trigger: 'blur' }

                        ]

                    }
                };
            },
            mounted() {
                $.get("/cg/list", (data) => {
                    this.cgdata = data.data;
                });
                //获取URL地址
                var index = location.href;
                //截取id值
                var id = index.substr(index.indexOf("?") + 1);
                //console.log(id)
                $.get("/goods/editList", { id }, (data) => {

                     //console.log(data)
                    this.ruleForm2.barcode = data.data[0].barcode;
                    this.ruleForm2.goodsname = data.data[0].goodsname;
                    this.ruleForm2.goodsprice = data.data[0].goodsprice;
                    this.ruleForm2.saleprice = data.data[0].saleprice;
                    this.ruleForm2.marketprice = data.data[0].marketprice;
                    this.ruleForm2.stockNum = data.data[0].stockNum;
                    this.ruleForm2.cg_id = data.data[0].cg_id;
                    this.ruleForm2.good_id = data.data[0].good_id;
                });

            },
            methods: {
                //提交表单
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                           // console.log(this.ruleForm2);
                            $.post('/goods/edit', this.ruleForm2, (data) => {
                                if (data.ok) {
                                    alert(data.msg)
                                    location.href = "commodity.html";
                                } else {
                                    alert(data.msg);
                                }
                            });
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                //点击生成商品条形码 
                tiao() {
                    this.ruleForm2.barcode = new Date().getTime();
                },
                //计算商品售价，市场价
                autoPrince() {
                    this.ruleForm2.goodsprice = parseInt(this.ruleForm2.goodsprice).toFixed(2);
                    this.ruleForm2.marketprice = (this.ruleForm2.goodsprice * 2).toFixed(2);
                    this.ruleForm2.saleprice = (this.ruleForm2.marketprice * 0.99).toFixed(2);
                },
                //计算库存的总价
                add() {
                    this.ruleForm2.total_price = ((this.ruleForm2.goodsprice) * (this.ruleForm2.stockNum)).toFixed(2);
                    this.ruleForm2.sales_price = ((this.ruleForm2.saleprice) * (this.ruleForm2.stockNum)).toFixed(2);
                    console.log(this.ruleForm2.total_price)
                }
            }
        });
    </script>
</body>

</html>